@model IEnumerable<Granta.MaterialsWall.Models.WallCard>

@section styles
{
    @Styles.Render("~/bundles/wallcards")
}

<div class="navbar">
    <div class="pull-right">
        <input id="searchbox" class="search-query" type="text" placeholder="Search" onkeyup="filter('.row .cardholder', this)" />
    </div>
</div>

<div id="cardcontainer">
    <div id="cardrow" class="row">
        @Html.Partial("_PageOfCards", Model)
    </div>
</div>

<div id="loading" style="display:none">
    <img src="~/Content/loading.gif" />
</div>

@section scripts
{
    <script>
        var nextPageStub = '@Url.Action("Page", "Home")?p=';
    </script>
    @Scripts.Render("~/bundles/searchfilter")
    @Scripts.Render("~/bundles/scroll-loading")
}
